clasificacion0.dat
clasificacion1.dat
clasificacion2.dat
clasificacion3.dat
clasificacion4.dat
clasificacion5.dat
/.idea/TP4.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
